div.noble-wrapper {
    position: relative;
    width: 400px;
    height: 400px;
}

div.noble-wrapper div.layer {
    position: absolute;
    width: 100%; height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}