div#editor-view {
    width: 49%;
    height: 250px;
    float: left;
}

div#editor-view div.noble-wrapper {
    height: 100%; width: 100%;
}

div#editor-window-wrapper {
    width: 49%;
    height: 15em;
    overflow: auto;
    float: left;
    background-color: #888;
}

img.editor-option {
    width: 6em;
    float: left;
    background-color: #eee;
    border: 2px solid #888;
    cursor: pointer;
}

div.editor-content {
    display: none;
}
div.editor-content.selected {
    display: block;
}

button#editor-button-confirm {
    width: 99%;
    margin: 2em 0;
}