/* outside styling */
div.noble-wrapper.flat {
    border: none;
}
div.noble-wrapper.material-light {
    box-shadow: 0px 0px 2px #888;
}
div.noble-wrapper.material-dark {
    box-shadow: 0px 0px 2px #000;
}
div.noble-wrapper.border-thin-light {
    border: 2px solid #111;
}
div.noble-wrapper.border-thin-dark {
    border: 2px solid #eee;
}
div.noble-wrapper.border-thick-light {
    border: 6px solid #111;
}
div.noble-wrapper.border-thick-dark {
    border: 6px solid #eee;
}
div.noble-wrapper.border-outset-light {
    border: 6px outset #555;
}
div.noble-wrapper.border-outset-dark {
    border: 6px outset #ccc;
}
div.noble-wrapper.border-inset-light {
    border: 6px inset #555;
}
div.noble-wrapper.border-inset-dark {
    border: 6px inset #ccc;
}

/* sizes (absolute) */
div.noble-wrapper.tiny {
    width: 64px; height: 64px;
}
div.noble-wrapper.small {
    width: 128px; height: 128px;
}
div.noble-wrapper.medium {
    width: 256px; height: 256px;
}
div.noble-wrapper.large {
    width: 320px; height: 320px;
}
div.noble-wrapper.max-safe {
    width: 400px; height: 400px;
}
div.noble-wrapper.oversized {
    width: 600px; height: 600px;
}

/* sizes (relative) */
div.noble-wrapper.relative {
    max-width: 400px; 
    max-height: 400px;
}
div.noble-wrapper.relative.small-em {
    max-width: 4rem; 
    max-height: 4rem;
}
div.noble-wrapper.relative.medium-em {
    max-width: 8rem; 
    max-height: 8rem;
}
div.noble-wrapper.relative.large-em {
    max-width: 12rem; 
    max-height: 12rem;
}
div.noble-wrapper.relative.very-large-em {
    max-width: 16rem; 
    max-height: 16rem;
}